{%extends "base.html"%}


{% block content %}

<div class="container">

<div class="jumbotron">

    <div class="row stylish-panel">
       <div class="row stylish-panel">
      <div class="col-md-6 ">
        
          <img src="https://twitter.com/oginga_s/profile_image?size=original" alt="{{human.name}}" class="img-circle img-thumbnail"  width="150" height="150">
          <h2>Oginga Steven</h2>
          <p>Designer</p>
          <a href="forfuture.co.ke" class="btn btn-primary" title="See more">See Site »</a>
        
      </div>
      
      
      <div class="col-md-6 ">
          <img src="http://twitter.com/GochoMugo/profile_image?size=original" alt="{{human.name}}" class="img-circle img-thumbnail"  width="150" height="150">
          <h2>Gocho Mugo</h2>
          <p>Designer</p>
          <a href="forfuture.co.ke" class="btn btn-primary" title="See more">See Site »</a>
        </div>
      </div>
      </div>
      
   


</div>
</div>
 
{% endblock %}

