{% extends "base.html" %}
{% load static from staticfiles %}

{% block form%}

{%endblock%}


{% block content %}
<h1 class="text-centre">Humans involved</h1>
<div class="container">

<div class="jumbotron">
{%if data%}

	<div class="container">
    <div class="row stylish-panel">
    {%for human in data%}

      <div class="col-md-6		">
        <div>
          <img src="{{human.twitter}}/profile_image?size=original" alt="{{human.name}}" class="img-circle img-thumbnail"  width="150" height="150">
          <h2>{{human.name}}</h2>
          <p>{{human.role}}</p>
          <a href="{{human.site}}" class="btn btn-primary" title="See more">See Site »</a>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>


</div>
</div>



<!-- /container
<li>{{human}}  {{human.name}}   {{human.role}}  {{human.site}}</li>




 -->

{% else %}
	<p>"No humans involved"</p>
{% endif %}

{% endblock %}
